body {
  background-image: linear-gradient(
    to right top,
    #4c4c4c,
    #3e3e3e,
    #313131,
    #242424,
    #181818,
    #232323,
    #2e2e2e,
    #393939,
    #636363,
    #909090,
    #c0c0c0,
    #f2f2f2
  );
  background-repeat: no-repeat;
  width: 95vw;
  height: 85vh;
  overflow: hidden;
}
#clockContainer {
  position: relative;
  margin: auto;
  height: 35vw;
  width: 35vw;
  background: url(clock-sam.png) no-repeat;
  background-size: 100%;
  background-color: black;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 16px #4b4c4b,
    0px 0px 0px 24px #828482, 0px 0px 0px 31px #b2b5b2, 0px 0px 0px 39px #daddda,
    1px 1px 24px 30px rgba(17, 28, 16, 0);
  box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 16px #4b4c4b,
    0px 0px 0px 24px #828482, 0px 0px 0px 31px #b2b5b2, 0px 0px 0px 39px #daddda,
    1px 1px 24px 30px rgba(17, 28, 16, 0);
  margin-top: 80px;
}

#hour,
#minute,
#second,
#text {
  position: absolute;
  border-radius: 10px;
  transform-origin: bottom;
}
#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
  background: red;
}
#minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
  background: yellow;
}
#second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
  background: lime;
}
